<ion-view hide-tabs>
  <ion-nav-title>{{club.name}}</ion-nav-title>
	<ion-content>
		<div class="list card">
			<div class="item item-image">
				<img ng-src="{{club.image}}">
			</div>
			<div class="item item-text-wrap">
				<h2>{{club.name}}</h2>
				<p>创建时间：{{club.founded_on}}</p>
				<p>成员：{{club.users_count}}</p>
			</div>
		</div>
		<div class="list card">
			<div class="item item-divider">
				<h2>简介</h2>
			</div>
			<div class="item item-text-wrap body-html" ng-bind-html="club.body">
				
			</div>
		</div>

		<div class="card">
			<a href="#/app/clubs/{{club.id}}/bylaws" class="item item-icon-right">
				俱乐部章程
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</div>
		
		<!-- 俱乐部活动 -->
		<div class="card list" ng-show="isShowEvents">
			<div class="item item-divider"><h2>最近活动</h2></div>
			<ion-item class="item-remove-animate item item-thumbnail-left item-icon-right item-text-wrap" ng-repeat="event in club.latest_events" 
				href="#/app/events/{{event.id}}">
				<img ng-src="{{event.image}}">
    			<h2>{{event.title}}<span class="badge badge-assertive">{{event.state.label}}</span></h2>
    			<p>活动时间：{{event.started_at}}</p>
    			<p>参加人数：{{event.joined_count}} / {{event.needed_count}}</p>
    			<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<a class="item item-divider" href="#/app/events-Club-{{event.id}}" ng-show="isShowLoadMoreEvents"><h2>查看全部活动</h2></a>
		</div>

		<!-- 俱乐部成员 -->
		<div class="card" ng-show="isShowUsers">
			<div class="item item-divider">最近加入成员</div>
			<ion-item class="item-remove-animate item-avatar item-icon-right item-button-right" ng-repeat="obj in club.latest_users" ng-click="gotoUserDetail(obj.uid);">
        		<img ng-src="{{obj.avatar}}">
        		<h2>{{obj.nickname}}</h2>
        		<p>{{obj.specialty}}&nbsp;&nbsp;{{obj.graduation}}</p>
        		<button class="button button-positive button-outline" style="font-size: 14px;" ng-click="gotoSendMessage(obj);$event.stopPropagation();">私信</button>
      		</ion-item>
			<a class="item item-divider" href="#/app/users-Club" ng-show="isShowLoadMoreUsers"><h2>查看全部成员</h2></a>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-assertive" ng-show="!has_joined">
    	<div class="title" style="text-align: center; margin: 0 -10px; cursor: pointer;" ng-click="doJoinClub(club.id);">
      		加入
    	</div>
	</ion-footer-bar>
</ion-view>