<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="活动详情" hide-tabs>
  <!-- <ion-nav-title>{{club.name}}</ion-nav-title> -->
  <ion-content ng-class="{'has-footer': (event.eventable_type !== 'Organization' || from_user || !has_attended)}">
    <div class="card list">
      <div class="item item-image">
        <img ng-src="{{event.image}}">
      </div>
      <div class="item item-text-wrap">
        <h2>{{event.title}}</h2>
        <p>{{event.started_at | amDateFormat:'YYYY-MM-DD HH:mm'}} 开始</p>
        <p>{{event.ended_at | amDateFormat:'YYYY-MM-DD HH:mm'}} 结束</p>
        <p ng-if="event.eventable_type != 'Organization'">参加人数：{{event.joined_count}} / {{event.needed_count}}</p>
      </div>
      <div class="item item-avatar item-text-wrap">
        <img ng-src="{{event.owner.image}}">
        <h2>{{event.owner.name}}</h2>
        <p>{{event.owner.intro}}</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider"><h2>介绍</h2></div>
      <div class="item item-text-wrap body-html" ng-bind-html="event.body">
      </div>
    </div>
  </ion-content>
  <ion-footer-bar ng-if="event.eventable_type !== 'Organization' || from_user || has_attended == false" ng-class="{'bar-assertive': from_user || can_attend,'bar-dark': !from_user && !can_attend}">
      <div class="title" style="text-align: center; margin: 0 -10px; cursor: pointer;" ng-click="handleAttend(event.id);">
          {{from_user ? '移除' : event.state.label}}
      </div>
  </ion-footer-bar>
</ion-view>
