<ion-view view-title="设置新密码">
	<ion-content>
		<form ng-submit="doUpdatePassword()" class="signup-form">
			<div class="list">
				<div class="item item-divider"></div>

				<div class="item">
					<!-- 验证码 -->
					<div class="row">
						<div class="col col-20 col-center">
							<span class="label">手机号</span>
						</div>
						<div class="col col-70 col-center">
							<input type="text" ng-model="updateUser.mobile"  placeholder="输入手机号">
						</div>
					</div>
				</div>

				<div class="item">
					<div class="row">
						<div class="col col-20 col-center">
							<span class="label">验证码</span>
						</div>
						<div class="col col-50 col-center">
							<input type="text" ng-model="updateUser.code" placeholder="输入短信验证码">
						</div>
						<div class="col col-30 col-center offset-50">
							<a class="assertive code-button" ng-click="fetchCode();">获取验证码</a>
						</div>
					</div>
				</div>

				<div class="item">
					<!-- 验证码 -->
					<div class="row">
						<div class="col col-20 col-center">
							<span class="label">新密码</span>
						</div>
						<div class="col col-70 col-center">
							<input type="password" ng-model="updateUser.password" placeholder="输入新密码">
						</div>
					</div>
				</div>
			</div>
			<div class="padding">
				<button type="submit" class="button button-block button-assertive">保存</button>
			</div>
			
		</form>
	</ion-content>
</ion-view>