<ion-view view-title="发消息给{{to_user.nickname || to_user.hack_mobile}}">
  <ion-content has-bouncing="true" delegate-handle="userMessageScroll">
    <ion-refresher
      pulling-text="加载消息历史..."
      pulling-icon="ion-ios-loop"
      on-refresh="loadMore();">
    </ion-refresher>
    <div collection-repeat="message in messages" class="message-wrapper">
    <!-- 我收到的消息 -->
      <div ng-if="message.is_from_me == false">              
          <img class="profile-pic left" 
              ng-src="{{message.sender.avatar || 'img/default_avatar.png'}}" onerror="onProfilePicError(this)" />

          <div class="chat-bubble left">
              <div class="message">
                {{message.content}}
              </div>

              <div class="message-detail">
                  <span ng-click="viewProfile(message)" 
                      class="bold">{{message.sender.nickname || message.sender.hack_mobile}}</span>,
                  <span am-time-ago="message.time"></span>
              </div>

          </div>
      </div>
      
      <!-- 我发送的消息 -->
      <div ng-if="message.is_from_me == true">
        
          <img class="profile-pic right" 
              ng-src="{{message.sender.avatar || 'img/default_avatar.png'}}" onerror="onProfilePicError(this)" />
        
          <div class="chat-bubble right">

              <div class="message">
                {{message.content}}
              </div>

              <div class="message-detail">
                  <span ng-click="viewProfile(message)" 
                      class="bold">{{message.sender.nickname || message.sender.hack_mobile}}</span>, 
                  <span am-time-ago="message.time"></span>
              </div>

          </div>
        
      </div>

      <div class="cf"></div>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-light send-message" keyboard-attach>
    <label class="item-input-wrapper">
      <input type="text" ng-model="message.content">
    </label>
    <button class="button button-small button-clear button-positive" ng-click="sendMessage();" ng-class="{'disabled': message.content == ''}">
      发送
    </button>
  </ion-footer-bar>
</ion-view>
