<ion-view view-title="消息">
	<ion-content>
		<div class="row" ng-if="isLogined == false">
    		<div class="col">
        		<div class="text-center" style="margin-top: 50%;">
            		<button class="button button-assertive" ng-click="login();">登录 / 注册</button>
        		</div>
    		</div>
		</div>

		<ion-list ng-if="isLogined == true">
			<ion-item class="item-remove-animate item-avatar item-text-wrap" 
			collection-repeat="ss in sessions" ng-click="gotoSendMessage(ss.user);">
        <img ng-src="{{ss.user.avatar || 'img/default_avatar.png'}}" class="message-session-item">
        <h2>{{ss.user.nickname || ss.user.hack_mobile}}</h2>
        <p>{{ss.latest_message.content}}</p>
        <span am-time-ago="ss.latest_message.time" class="timeago"></span>
        <span class="badge badge-assertive unread-message-count" ng-if="ss.unread_count > 0">{{ss.unread_count > 99 ? '99+' : ss.unread_count}}</span>
      </ion-item>
		</ion-list>
	</ion-content>
</ion-view>