<ion-view view-title="完善资料">
	<ion-content>
		<form ng-submit="doRegister();">
		<div class="list">
			<div class="item item-divider">
				<span class="assertive">* 以下资料一旦填写不可修改，请正确填写</span>
			</div>
			<label class="item item-input">
				<span class="input-label">真实姓名</span>
				<input type="text" ng-model="user.realname" placeholder="输入真实姓名">
			</label>
			<label class="item item-input">
				<span class="input-label">学号</span>
				<input type="text" ng-model="user.stu_no" placeholder="输入学号（可选）">
			</label>
			<label class="item item-input item-select">
				<span class="input-label">学院</span>
				<select ng-model="user.faculty_id" ng-change="switchFaculty(user.faculty_id)">
					<option value="">选择学院</option>
      				<option ng-repeat="faculty in faculties" value="{{faculty.id}}">{{faculty.name}}</option>
    			</select>
			</label>
			<label class="item item-input item-select">
				<span class="input-label">专业</span>
				<select ng-model="user.specialty_id">
					<option value="">选择专业</option>
      				<option ng-repeat="specialty in specialties" value="{{specialty.id}}">{{specialty.name}}</option>
    			</select>
			</label>
			<label class="item item-input item-select">
				<span class="input-label">年级</span>
				<select ng-model="user.graduation_id">
					<option value="">选择年级</option>
      				<option value="{{graduation.id}}" ng-repeat="graduation in graduations">{{graduation.name}}</option>
    			</select>
			</label>
			<label class="item">
				<button type="submit" class="button button-block button-assertive">提交</button>
			</label>
		</div>
		</form>
	</ion-content>
</ion-view>