<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="活动列表">
  <ion-content>
  	<ion-list>
  		<ion-item class="item-remove-animate item item-thumbnail-left item-icon-right item-text-wrap" collection-repeat="event in events" 
				href="#/tab/user-events/{{event.id}}">
			<img ng-src="{{event.image}}">
			<h2>{{event.title}}</h2>
      <p style="margin: 5px 0; font-weight: bold; color: rgb(85,85,85)">{{event.owner.name}}</p>
			<p>活动时间：{{event.started_at}}</p>
			<p>参加人数：{{event.joined_count}} / {{event.needed_count}}</p>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
