/* Empty. Add your own CSS if you like */

.banner-image {
	max-width: 100%;
	width: 100%;
}

.page img {
  max-width: 100%;
}

.send-message input {
	background-color: rgba(0,0,0,0);
	width: 100%;
}

.body-html {
	text-align: left;
	padding: 10px;
	font-size: 14px;
}

.body-html img {
	max-width: 100%;
	text-align: center;
}

.unread-badge {
  display: block;
  width: 6px;
  height: 6px;
  background-color: red;
  position: absolute;
  right: -4px;
  top: 6px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
}

.product-price {
	font-size: 22px;
	color: red;
}

.product-market-price {
	font-size: 14px;
	color: #ccc;
	text-decoration: line-through;
}
.user-caption {
	height: 200px;
	background-color: rgb(234,74,50);
}

.last-message-time {
	position: absolute;
	right: 15px;
	top: 15px;
	color: #8c8c8c;
    font-size: 13px;
}

.input-label {
	width: 20%;
}

.signup-form .item {
	padding: 0;
}

.signup-form .row {
	padding: 1px 0;
}

.signup-form .label {
	padding-left: 8px;
}

.signup-form .item-signup {
	padding: 16px;
}

.code-button {
/*  padding: 5px;*/
/*  cursor: pointer;*/
  width: 90px;
  text-align: center;
}

.code-input-wrapper input {
  width: 120px;
}

.item-text-right span, .item-text-right p  {
	float: right;
	display: inline-block;
}

.item-block-right .item-block {
	display: inline-block;
	float: right;
}

.item-block-left .item-block {
	float: left;
	display: block;
}

.item-arrow .icon {
	color: rgb(204,204,204);
}

/*  聊天消息样式  */
img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.cf {
  clear: both !important;
}

.timeago {
	position: absolute;
	right: 15px;
	top: 15px;
	color: rgb(137,137,137);
	font-size: 14px
}
